alembic==1.8.1
amqp==5.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
async-timeout==4.0.3
attrs==24.2.0
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
Cython==0.29.37
Deprecated==1.2.14
environs==9.5.0
Flask==2.1.1
Flask-HTTPAuth==4.5.0
Flask-json-schema==0.0.5
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
flower==1.2.0
gunicorn==20.0.4
humanize==4.10.0
importlib-metadata==4.13.0
itsdangerous==2.2.0
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kombu==5.4.2
Mako==1.3.5
MarkupSafe==2.1.5
marshmallow==3.22.0
minio==7.2.9
mysql-connector-python==8.0.31
packaging==24.1
pluginbase==1.0.0
prometheus_client==0.21.0
prompt_toolkit==3.0.47
protobuf==3.20.1
psycopg2-binary==2.9.9
pycparser==2.22
pycryptodome==3.20.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
PyYAML==5.4.1
redis==4.2.2
referencing==0.35.1
rpds-py==0.20.0
sentry-sdk==0.16.3
setuptools==75.1.0
six==1.16.0
SQLAlchemy==1.4.44
SQLAlchemy-Utils==0.38.3
terminaltables==3.1.0
tornado==6.4.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
Werkzeug==2.2.3
wrapt==1.16.0
zipp==3.20.2
